<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel = "tests" name="Suite">

<listeners>
<listener class-name="abdulinstitute.TestComponents.Listeners"/>
</listeners>


  <test thread-count="5" name="Submit Order Test">
    <classes>
      <class name="abdulinstitute.tests.SubmitOrderTest"/>
    </classes>
  </test> <!-- Test -->
  
  <test thread-count="5" name="Error Validations Test">
    <classes>
      <class name="abdulinstitute.tests.ErrorValidationsTest"/>
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="Login Page Testt">
    <classes>
      <class name="abdulinstitute.tests.LoginPageTest"/>
    </classes>
  </test> <!-- Test -->
  
  <test thread-count="5" name="Fill Out New Account Info Form Test">
    <classes>
      <class name="abdulinstitute.tests.FillOutNewAccountInfoFormTest"/>
    </classes>
  </test> <!-- Test -->
   <test thread-count="5" name="Signup Test">
    <classes>
      <class name="abdulinstitute.tests.SignupTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->


